body {
    font-family: "Lato", sans-serif;
    background-color: #eee;    
}

.zoneHaute {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
}

h1 {
    margin: auto;
    font-size: 60px;
}


.zoneJeu{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    gap: 15px;
}

.zoneCentrale{
    border: darkred solid 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
}

.imgDice{
    margin: auto;
    grid-row: 1/3;
}

.divtourScore{
    grid-row: 1/3;
}

button {
    background-color: darkred;
    color: black;
    border-radius: 15px;
    min-height: 100px;
    min-width: 150px;
}

button:hover{
    background-color: red;
    font-size: larger;
    transition-property: font-size;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
}

h4 {
    margin: auto;
}